<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Обновление пользователя</title>
    <link rel="stylesheet" th:href="@{/css/update-form.css}" >
</head>
<body>
<div class="user-form"> <h2>Обновление пользователя</h2>
    <form th:object="${user}" th:action="${actionUrl}" method="post" class="form-group" >

        <div th:if="${error != null and !error.isEmpty()}" style="color: red; margin-bottom: 15px;">
            <strong>❌ошибка:</strong> <span th:text="${error}"></span>
        </div>

        <label>Имя:</label>
        <input type="text" th:field="*{firstName}"><br>
        <span th:errors="*{firstName}" style="color: red; margin-bottom: 15px"></span>

        <label>Фамилия:</label>
        <input type="text" th:field="*{lastName}"><br>
        <span th:errors="*{lastName}" style="color: red; margin-bottom: 15px"></span>

        <label>Возраст:</label>
        <input type="text" th:field="*{age}"><br>
        <span th:errors="*{age}" style="color: red; margin-bottom: 15px"></span>

        <label>Город:</label>
        <input type="text" th:field="*{city}"><br>

        <label>Email:</label>
        <input type="text" th:field="*{email}"><br>
        <span th:errors="*{email}" style="color: red; margin-bottom: 15px"></span>

        <label>Телефон:</label>
        <input type="text" th:field="*{phone}"><br>

        <div class="form-actions">
            <button> Сохранить</button>
            <a th:href="${cancelUrl}">Отмена</a>
        </div>
    </form>
</div>
</body>
</html>