/* =====Таблица===== */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0;
    table-layout: fixed;
}

td:nth-child(4) {
    white-space: nowrap;
    text-align: left;
}

th {
    overflow-wrap: break-word;
    white-space: normal;
    background-color: gray;
    color: white;
}
th:nth-child(1) { width: 5%; }
th:nth-child(2) { width: 15%; }
th:nth-child(3) { width: 15%; }
th:nth-child(4) { width: 10%; }
th:nth-child(5) { width: 18%; }
th:nth-child(6) { width: 19%; }
th:nth-child(7) { width: 9%; }
th:nth-child(8) { width: 9% }
tr:nth-child(even) { background-color: darkgray; }

     /* ==== ЗАГОЛОВОК ФОРМЫ ===== */
 h2 {
     color: #333;
     font-size: 24px;
     margin: 30px 0 20px;
     padding-bottom: 10px;
     border-bottom: 2px solid #4a6fa5;
 }

.center-style {
    text-align: center;
}

/* ===== ФОРМА ДОБАВЛЕНИЯ ====== */
.user-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*=====КНОПКИ ADMIN И USER в меню слева==== */
.sidebar-btn.active {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
}
.sidebar-btn {
    width: 100%;
    display: block;
    text-align: left;
    padding: 10px 0 10px 25px;
    background: none;
    border: none;
    cursor: pointer;
}
/*=====ВКЛАДКИ НА СТРАНИЦЕ==== */
.nav-link.active {
    color: #007bff !important;
    background-color: white !important;
}
/*========Элементы JS=======*/
#userTableTab,
#addNewUser,
#adminTableContainer,
#allUsers,
#userTableContainer,
#saveTable,
#userLinkProfile,
#userLinkProfile,
#adminBtn {
    display: none;
}




