<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/update-form.css}">
</head>
<body>
<div id="registerForm" class="user-form">
    <h2>Регистрация</h2>
        <div class="form-group">
            <label>Имя:</label>
            <input type="text" id="firstName" required>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" id="email" required>
        </div>
        <div class="form-group">
            <label>Пароль:</label>
            <input type="password" id="password" required>
        </div>
        <div class="form-actions">
            <button type="button" onclick="register()">Зарегистрироваться</button>
        </div>
    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
</div>

<script>
function register() {
    const user = {
        firstName: document.getElementById('firstName').value,
        email: document.getElementById('email').value,
        password: document.getElementById('password').value
    }

    fetch('/api/register', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(user)
    })
        .then(response => {
            if (response.ok){
                return response.json();
            } else {
                return response.json().then(error => {
                    document.querySelectorAll('.error-message').forEach(el => el.remove())
                    for ( const [field, message] of Object.entries(error)) {
                        const input = document.getElementById(field);
                        if (input) {
                            const error = document.createElement('div');
                            error.className = 'error-message text-danger';
                            error.textContent = message;
                            input.parentNode.appendChild(error);
                            }
                    }
                    return null;
                });
            }
        })
        .then(user => {
            if (user && user.roles && user.roles.includes('ROLE_ADMIN')) {
                window.location.href='/admin';
            } else if (user && user.roles) {
                window.location.href='/user';
            }
        });
}
</script>
</body>
</html>